*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;

}
.container{
    width: 61%;
    background-color:  #272727;
     margin: auto;
     padding-block: 5px;
      border-radius: 8px;
}


.items{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     border-radius: 8px;
  
}

 img{
    border-radius: 15px;
    margin-inline: 3px;
    margin-block: 1px;
    filter: grayscale(1);
   
}

img:hover{
    filter: none;
    transition: 0.3s;
    transform: scale(1.3);
}

.item:hover{
    z-index: 3;
}


