body{
    text-align: center;
}
.header{
    margin-top:100px;
}

.container{
    width: 50%;
    display: block;
    margin: auto;
  
}

.row-2{
    background-color:gainsboro;
    padding-top: 10px;
    padding-bottom: 20px;
}



.row-3{
    display: flex;
    justify-content: space-between;
   
   
}






